{{#each post}}
<form action="/update" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <p>Titulo:</p>
    <input type="text" name="titulo" id="" value="{{titulo}}">
    <p>Conteudo:</p>
    <textarea name="conteudo" placeholder="{{conteudo}}"></textarea>
    <button type="submit">Atualizar</button>
</form>
{{id}}
{{/each}}